# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern has the highest precedence

# These owners will be the default owners for everything
*  @NewClassrooms/cloud-posse

# New Classrooms should add their own teams here as well. As of Feb 14, 2024, no other teams have access to this repo, and therefore CODEOWNERS validation will fail. For example, uncomment the following and delete the line above
# *  @NewClassrooms/cloud-posse @NewClassrooms/engineering
